# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

auth.json
/dist/
/vendor/
/var/
/data

.env
.fleet
.env.*
!.env.dist

# Log files
*.log

# Package files
*.jar

# JetBrains IDE
.idea/

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

# CI/CD builds
/build
