<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Text Magic Test{% endblock %}</title>
    <style>
		::selection {
			background: #f1f2f3;
			color: #fff;
		}
		.flex-inner {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
		}

		.flex-inner li {
			margin-top: 10px;
		}

		.flex-inner {
			flex-direction: column;
		}

		.flex-inner > li > label {
			margin-left: 10px;
		}

		.flex-inner>li>input {
			cursor: pointer;
		}
        .test-block{
	        position: absolute;
	        left: 70px;
        }
		.btn {
			display: inline-block;
			box-sizing: border-box;
			padding: 0 25px;
			margin: 0 15px 15px 0;
			outline: none;
			border: 1px solid #fff;
			border-radius: 50px;
			height: 46px;
			line-height: 46px;
			font-size: 14px;
			font-weight: 600;
			text-decoration: none;
			color: #444;
			background-color: #629755;
			box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
			cursor: pointer;
			user-select: none;
			appearance: none;
			touch-action: manipulation;
			vertical-align: top;
			transition: box-shadow 0.2s;
		}
		.btn:focus-visible {
			border: 1px solid #4c51f9;
			outline: none;
		}
		.btn:hover {
			transition: all 0.2s;
			box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
		}
		.btn:active {
			background-color: #808080;
		}
    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div>
    {% block body %}{% endblock %}
</div>
</body>
</html>